/*
 * ページに作用するCSS
 * ボタンやモーダルウィンドウの装飾を行う
 */

/* --- モーダルウィンドウの装飾 --- */
.ista-auto-modal {
	display          : none;
	position         : fixed;
	z-index          : 200;
	top              : 40vh;
	left             : 25vw;
	height           : 20vh;
	width            : 50vw;
	padding          : 1em 1em 2em;
	overflow-y       : scroll;
	background-color : #cff;
	border           : 1px solid #369;
	border-radius    : 0.5em;
}
.ista-auto-modal-bg {
	display          : none;
	position         : fixed;
	z-index          : 100;
	top              : 0px;
	left             : 0px;
	height           : 100vh;
	width            : 100vw;
	margin           : 0px;
	padding          : 0px;
	background-color : #000a;
}
#ista-auto-list {
	width  : 100%;
	margin : 1em 0px;
}
button.ista-button-reg {
	cursor        : pointer;
	background    : #595959 url(/images/tree/edit/bg_candidateselect.jpg) repeat-x  left bottom;
	color         : white;
	border-radius : 2em;
	padding       : 0.05em 0.5em;
	margin        : 0px;
	margin-left   : 0.3em;
	outline       : none;
}