/* --- [ツリー登録予約] フォームのスタイル --- */
li.ista-form-reserving {
	margin-top : 1.2rem;
	width      : 50vw;
	max-width  : 100%;
}
li.ista-form-reserving > * {
	margin : 0.3rem 0px;
}
li.ista-form-reserving > div.ista-form-reserving-title {
	font-size       : 1.2em;
	text-decoration : underline;
}
li.ista-form-reserving > input[type="date"] {
	display     : inline;
	width       : 10rem;
	font-family : inherit;
}
li.ista-form-reserving > input[type="time"] {
	display     : inline;
	width       : 8rem;
	font-family : inherit;
}
li.ista-form-reserving > textarea {
	display     : block;
	width       : calc(100% - 6px);
	min-height  : 15vh;
	font-family : inherit;
}
li.ista-form-reserving > a.btn-02 {
	display : inline-block;
	float   : inherit;
	pointer : ;
}
