/* --- 追加UI関係 --- */
button.ista-button-garage {
	color            : white;
	background-color : #0075c2;
	margin-right     : 0.5rem;
}
button.ista-button-garage:hover {
	background-color : #0088ee;
}


/* --- ファイルID抽出 --- */
div.css-ow1ier.hover {
	background-color : #f1760380;
}


/* --- サイドバー --- */
div.ista-sidebar {
	top : 108px;
}
div.ista-sidebar-title {
	height : 2.4rem;
}
